body {
    background-color: var(--body-bg);
    color: var(--body-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#app-header {
    width: 100%;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-primary:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.bg-success {
    background-color: var(--success-color) !important;
}

main {
    flex: 1;
}

#app-footer {
    width: 100%;
    margin-top: auto;
}
