body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#header-placeholder {
    width: 100%;
}

main {
    flex: 1;
}

#footer-placeholder {
    width: 100%;
    margin-top: auto;
}
